// trying some BEM stuff here, not sure if want

.project-list {
  overflow: hidden;
  article {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $base-spacing;
    @include media($small) {
      @include span-columns(6);
      margin-bottom: $medium-spacing;
    }
  }
  &__project {
    position: relative;
    margin-bottom: $small-spacing;
    img {
      width: 100%;
      vertical-align: bottom;
    }
    h3 {
      position: relative;
      color: #fff;
      font-family: $condensed-font-family;
      font-size: 3em;
      letter-spacing: 0;
      text-transform: uppercase;
      a {
        color: #fff;
        &:hover {
          color: #eee;
        }
      }
    }
    &.-overlay:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.33);
    }
  }
  &__callout {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $small-spacing $base-spacing;
    color: #fff;
    background-color: rgba($medium-dark-gray, 0.85);
    font-family: $alt-font-family;
    text-transform: uppercase;
    a {
      color: #fff;
    }
  }
  &__intro {
    margin-top: $small-spacing;
    font-size: 0.875rem;
  }
}
