.art-list {
  .item {
    margin-bottom: $large-spacing;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: $small-spacing;
    }
    h3 {
      margin-bottom: $small-spacing;
    }
  }
}

.publication-list {
  .publication--item {
    margin-bottom: $large-spacing;
  }
}
