$qty-width: 320px;
$qty-width-md: 280px;

%light-btn {
  @extend .btn;
  padding-top: calc(0.95em - 2px);
  padding-bottom: calc(0.75em - 2px);
  background-color: #fff;
  color: $red !important;
  font-size: 0.875em;
  font-weight: 600;
  border: 2px solid $red;

  &:hover,
  &.active {
    background-color: $red;
    color: #fff !important;
  }
}

#body {
  @extend .container;
  padding-top: 5.25rem;
  margin-bottom: $medium-spacing;

  @include media($small) {
    padding-top: $base-spacing;
  }

  #{$all-text-inputs} {
    border: 1px solid $medium-gray;
  }

  td {
    border-bottom: 1px solid $medium-gray;

    @include media($medium) {
      font-size: 0.8em;
    }
    button {
      @include media($medium) {
        font-size: 0.8em;
      }
    }
  }

  button {
    @extend .btn;
    margin-bottom: $small-spacing;
    background-color: $medium-dark-gray;
    font-size: 0.875em;
    font-weight: 600;
  }

  form label {
    color: $dark-gray;
    text-transform: none;
  }

  .apply-special > label {
    text-transform: capitalize;
  }

  .member-benefits {
    padding-bottom: $base-spacing;
  }

  .apply-special,
  .cart-table {
    padding-bottom: $small-spacing;
  }

  .member-login {
    padding-bottom: $medium-spacing;
  }

  .member-savings {
    font-style: italic;
    text-align: right;
  }

  .cart-forms {
    form {
      @include display(flex);
      @include flex-wrap(wrap);
      background-color: $light-gray;
    }
    h2,
    h3 {
      font-size: 1.375em;
    }
  }

  .apply-special,
  .member-login {
    @include display(flex);
    @include flex-basis(100%);
    background-color: #fff;

    @include media($large) {
      grid-template-columns: 2fr 1fr 1fr 50%;
    }

    @include media($medium) {
      grid-template-columns: 1fr 1fr 50%;
    }

    @include media($small) {
      @include flex-wrap(wrap);
    }

    label {
      margin-right: 0.5em;
      font-size: 1.25em;
      line-height: 1.75;
      @include flex-basis(180px);

      @include media($small) {
        @include flex-basis(100%);
        margin: 0;
      }
    }

    input[type="text"] {
      @include media($small) {
        flex-grow: 2;
      }
    }

    button {
      @extend %light-btn;
      margin-left: $small-spacing;

      @include media($small) {
        @include flex-basis(40%);
      }

      @include media($really-small) {
        @include flex-basis(100%);
        margin-left: 0;
      }
    }
  }

  .member-benefits {
    @include flex-basis(50%);
    padding: $base-spacing;
    border: 1px solid $medium-gray;
    border-right: none;

    @include media($medium) {
      @include flex-basis(55%);
    }

    @include media($small) {
      @include flex-basis(100%);
      border: none;
    }

    li {
      margin-bottom: $small-spacing;
      line-height: 1.25;
    }
  }

  .add-membership {
    @include flex-grow(2);
    padding: $base-spacing;
    padding-left: $extra-large-spacing;
    border: 1px solid $medium-gray;
    border-left: none;
    @include omega;

    @include media($medium) {
      padding-left: $base-spacing;
    }

    @include media($small) {
      padding-top: 0;
      border: none;
    }

    button {
      @extend %light-btn;
      @include media($extra-small) {
        width: 100%;
      }
    }
  }

  .guest-checkout {
    @include flex-basis(100%);
    padding-top: $medium-spacing;
    background-color: #fff;
    text-align: center;
  }

  .guest-checkout,
  .checkout-buttons {
    button {
      font-size: 1em;
      background: $red;

      &:hover {
        background-color: $dark-gray;
      }

      @include media($extra-small) {
        width: 100%;
      }
    }
  }

  .cart-table {
    margin-top: $medium-spacing;

    table.cart {
      @include media($small) {
        border-top: 1px solid $medium-gray;
      }
    }

    th {
      padding: 0 $base-spacing;
      font-weight: normal;
      border-bottom-color: $medium-gray;
    }

    button {
      @extend %light-btn;
    }
  }

  .cart-heading {
    display: grid;
    grid-template-columns: 1fr 1fr $qty-width 1fr;

    @include media($medium) {
      grid-template-columns: 1fr 1fr $qty-width-md 1fr;
    }

    @include media($small) {
      display: none;
    }
  }

  .cart-row {
    display: grid;
    grid-template-columns: 1fr 1fr $qty-width 1fr;
    background-color: $light-gray;

    @include media($medium) {
      grid-template-columns: 1fr 1fr $qty-width-md 1fr;
    }

    @include media($small) {
      grid-template-columns: $qty-width-md/3 $qty-width-md/3 $qty-width-md/3 1fr;
      border-bottom: 1px solid $medium-gray;
    }

    @include media($extra-small) {
      grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    td {
      padding: $base-spacing;
      font-weight: bold;

      &:first-child {
        border-left: 1px solid $medium-gray;
      }

      &:last-child {
        border-right: 1px solid $medium-gray;
      }

      @include media($small) {
        padding-bottom: 0;
        border: none;
      }
    }

    & + tr.cart-subtotal {
      margin-top: $base-spacing * 3/4;
    }
  }

  tr.cart-total,
  tr.cart-subtotal,
  tr.promotion-savings {
    display: grid;
    grid-template-columns: 2fr 200px #{$qty-width - 200px} 1fr;

    td {
      padding: $small-spacing/2 $base-spacing;
      text-align: left;
      border-bottom: none;

      &:first-child {
        grid-column-start: 2;
        grid-column-end: span 2;
      }
    }

    @include media($medium) {
      grid-template-columns: 2fr 170px #{$qty-width-md - 170px} 1fr;
    }

    @include media($small) {
      grid-template-columns: $qty-width-md/3 $qty-width-md/3 $qty-width-md/3 1fr;

      td {
        &:first-child {
          grid-column-start: 1;
          grid-column-end: span 3;
        }
      }
    }

    @include media($extra-small) {
      grid-template-columns: 1fr 1fr 1fr 2fr;

      td {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  tr.promotion-savings {
    & + tr.cart-total {
      margin-top: $base-spacing * 3/4;
      border-top: 1px solid $medium-gray;
    }

    td {
      &:first-child {
        grid-column-end: span 1;
      }

      &.promotion-code {
        grid-column-start: 3;
        padding-left: 0;
        padding-right: 0;

        & + td {
          display: none;
        }
      }

      &.promotion-disc-amt {
        grid-column-start: 4;
      }
    }

    @include media($small) {
      grid-template-columns: $qty-width-md/2 $qty-width-md/2 1fr;

      td {
        &.promotion-code {
          grid-column-start: 2;
          grid-column: 2 / span 1.5;
        }

        &.promotion-disc-amt {
          grid-column-start: 3;
          grid-column: 3 / span 1.5;
        }
      }
    }

    @include media($extra-small) {
      grid-template-columns: 2fr 1fr 2fr;
    }
  }

  tr.cart-subtotal {
    & + tr.cart-total {
      margin-top: $base-spacing * 3/4;
      border-top: 1px solid $medium-gray;
    }
  }

  tr.cart-total {
    td {
      padding: $base-spacing;
      font-size: 1.5em;
      font-weight: bold;
      &.cart-total {
        text-align: left;
      }
    }
  }

  .cart-name,
  .cart-options,
  .cart-price {
    font-size: 1.1em;
  }

  td.cart-name,
  td.cart-qty {
    @include media($small) {
      grid-column-start: span 3;
      border-left: 1px solid $medium-gray;
    }
  }

  td.cart-options,
  td.cart-price {
    @include media($small) {
      grid-column-start: span 1;
      border-right: 1px solid $medium-gray;
    }
  }

  td.cart-qty,
  td.cart-price {
    @include media($small) {
      padding-top: $small-spacing;
      padding-bottom: $small-spacing;
    }

    @include media($extra-small) {
      grid-column-start: span 4;
    }
  }

  td.cart-qty {
    @include display(flex);
    @include align-items(baseline);
    &:before {
      content: "Qty:";
      margin-right: 5px;
    }

    @include media($extra-small) {
      padding-bottom: 0;
      border-right: 1px solid $medium-gray;
    }
  }

  td.cart-price {
    @include media($extra-small) {
      border-left: 1px solid $medium-gray;
      padding-left: calc(60% + #{$base-spacing});
    }
  }

  .cart-qty form {
    @include display(flex);
    .btn {
      margin-left: 0.5em;
    }
  }

  .cc-exp {
    margin-bottom: $base-spacing;
    select {
      margin-bottom: $small-spacing;
    }
  }

  input.product-qty-select {
    max-width: 50px;
  }
}

#back {
  display: none;
}

.contact-information,
.membership-information,
.billing-address {
  margin-bottom: $medium-spacing;
}
