#body {
  @extend .container;
  padding-top: $large-spacing;
  margin-bottom: $medium-spacing;

  td {
    @include media($medium) {
      font-size: .8em;
    }
    button {
      @include media($medium) {
        font-size: .8em;
      }
    }
  }

  button {
    @extend .btn;
    margin-bottom: $small-spacing;
  }

  .apply-special > label {
    text-transform: capitalize;
  }

  .cart-table,
  .apply-special,
  .member-login,
  .member-benefits {
    margin-bottom: $base-spacing;
  }
}

#back {
  display: none;
}

.contact-information,
.membership-information,
.billing-address {
  margin-bottom: $medium-spacing;
}
